.manage-spots-page-wrapper {
  padding: 0px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-spots-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 830px;
  margin: 15px auto;
}

.spot-comp-wrapper {
  display: flex;
}


.spot-buttons {
  margin-top: 20px;
  display: flex;
  gap: 7px
}

.spot-button {
  color: white;
  background-color: grey;
}
