.delete-spot-wrapper {
  padding: 5px 10px 10px 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.delete-spot-wrapper>h2 {
  margin: 6px 6px 0px 6px
}

p {
  margin: 0px
}

.delete-button {
  width: 100%;
  padding: 10px;
  box-shadow: 3px 2px 2px rgb(104, 104, 104);
}

#delete-spot {
  color: white;
  background-color: red;
}

#keep-spot {
  color: white;
  background-color: grey;
}
