#booking-form-container {
  padding: 20px;
  width: 225px;
  padding-top: 7px;
}

#booking-header {
  margin: 0px;
  margin-top: 5px;
  text-align: center;
  color: #F46D25;;
}

#booking-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.booking-form-field {
  display: flex;
  flex-direction: column;
}

.booking-button {
  width: 100%;
  padding: 10px;
  box-shadow: 3px 2px 2px rgb(104, 104, 104);
  margin-top: 5px;
}

#submit-booking-button:enabled {
  color: white;
  background-color: #5dd607;
}
