/* TODO Add site wide styles */

html {
  height: 100%
}

body {
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  background: linear-gradient(#F46D25, #bf561d);
  margin-bottom: 30px;
  height: 100%;
}

body,
a {
  color: white
}

button {
  cursor: pointer;
}
