#navbar-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid grey;
  width: 100%;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 15px 5px 10px 5px;
  /* border: 1px solid rgb(255, 0, 0); */
  /* padding: 0px 120px 10px 120px; */
  width: 1040px;
}

.nav-right {
  display: flex;
  gap: 10px
}

.profile-dropdown {
  position: absolute;
  margin-left: 2em;
  margin-top: 1em;
}

.dropdown-items {
  border: 2px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  gap: 5px
}

.auth-links {
  margin-left: -75px;
  margin-top: -1.3em;
}

.user-info,
.manage-spots-link-wrapper {
  border-bottom: 1px solid black;
}

.manage-spots-link-wrapper {
  padding-bottom: 2px;
}

.profile-dropdown.hidden {
  display: none;
}

.logout-button-wrapper {
  display: flex;
  justify-content: center;
}

#logout-button {
  border-radius: 15px;
  padding: .5em 1em;
}
