#navbar-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border-bottom: 1px solid grey; */
  width: 100%;
  height: 120px;
  /* background-color: #5dd607; */
  background-image: url("../../../public/images/slime_border_bigger.png");
  background-size: 650px;
  margin-bottom: -25px;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: -58px;
  width: 1075px;
  font-size: 23px;
}

.nav-right {
  display: flex;
  gap: 10px
}

.profile-dropdown {
  position: absolute;
  margin-left: 5em;
  margin-top: 1.3em;
  font-size: 20px;
}

.dropdown-items {
  border: 2px solid black;
  background-color: white;
  color: #F46D25;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  gap: 5px
}

.auth-links {
  margin-left: -90px;
  margin-top: -1.3em;
  font-size: 17px;
  width: 70px;
}

.user-info,
.manage-spots-link-wrapper {
  border-bottom: 1px solid black;
}

.manage-spots-link-wrapper {
  padding-bottom: 2px;
}

.manage-spots-link {
  color: #F46D25;
}

.profile-dropdown.hidden {
  display: none;
}

.logout-button-wrapper {
  display: flex;
  justify-content: center;
}

#logout-button {
  border-radius: 15px;
  padding: .5em 1em;
}
